
.pieOption1:hover {
    background-color: #E3864F;
}

.pieOption2:hover {
    background-color: #268391;
}
.pieOption3:hover {
    background-color: #C8D94A;
}
.pieOption4:hover {
    background-color: #D25242;
}