.letterContainer {
    width: 150px;
    height: 240px;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    float: left;
}

.hoverLetter:hover {
    transform: translateY(50%);
}


.sLeft:hover {
    animation-delay: 0s; 
}

@keyframes sLeft {
    0% {transform: translate(0%);}
    10% {transform: translate(50%);}
    60% {transform: translate(50%);}
    70% {transform: translate(0%);}
    100% {transform: translate(0%);}
}

@keyframes sRight {
    0% {transform: translate(0%);}
    10% {transform: translate(-50%);}
    60% {transform: translate(-50%);}
    70% {transform: translate(0%);}
    100% {transform: translate(0%);}
}

@keyframes sTop {
    0% {transform: translateY(0%);}
    10% {transform: translateY(50%);}
    60% {transform: translateY(50%);}
    70% {transform: translateY(0%);}
    100% {transform: translateY(0%);}
}

@keyframes sBottom {
    0% {transform: translateY(0%);}
    10% {transform: translateY(-50%);}
    60% {transform: translateY(-50%);}
    70% {transform: translateY(0%);}
    100% {transform: translateY(0%);}
}

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');