@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

.preventScroll {
  overflow: hidden;
  height: auto;
}

a {
  text-decoration: none;
}

.loading {
  overflow: hidden;
  height:100%;
}

.home-link {
  position: fixed;
  margin: 10px;
  font-family: 'Major Mono Display', monospace;
  border-radius: 2px;
  transition: background-color .5s, color .5s;
  color: rgb(88, 88, 88);
  z-index: 10;
}

.button {
  display: inline-block;
  width: 170px;
  padding: 3px;
  margin: 70px;
  border-style: solid;
  border-width: 5px;
  text-decoration: none;
  border-color: #2b2b2b;
  background-color: #f3f3f3;
  color: #2b2b2b;
}

.button:hover {
  transition: background-color 0.1s, color 0.1s;
  background-color: #2b2b2b;
  color: #f3f3f3;
}

.content {
  background-color: black;
  transition: background-color 1s;
  min-height: 100vh;
  width: 100%;
}